<html>
  <head><title>Reset Your Password</title></head>
  <body>
    {{! <h1>Click this!</h1> }}
    <h3><b>Thank you for registering with us.</b></h3>
    <p>
      Your password is:
      {{randPass}}</p>
    <p>
      Username is:
      {{email}}</p>

  </body>
</html>